@import './base.css';
@import './fonts/fonts.css';
@import './icons/icons.css';
@import './cover.scss';

html,
body {
  height: 100%;
}

#app {
  height: 100%;
  color: $text-color;
  font-size: $font-size;
  background-color: $bg-color;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.frame-header {
  color: #fff;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: $bg-color-header;
}
.frame-aside {
  width: 300px;
  height: 100%;
  background-color: $bg-color-aside;
}
.frame-content {
  background-color: $bg-color-content;
}
.frame-footer {
  height: 50px;
  background-color: $bg-color-footer;
}
